.nav {
  background-color: dimgray;
}

.nav a {
  color: white;
  font-size: 11px;
  font-weight: bold
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('/static/img/jumboBack.png');
  background-size: 2rem 3rem;
  background-color: #FF8533;
  height: 30rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  }

.jumbotron .container {
  position: relative;
  left:5rem;
  top:1rem;
}

.jumbotron h1 {
  color: black;
  font-size: 55px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.inputForm {
  background-color:black;
  height: 40rem;
}

.inputForm p {
  font-size: 30px;
  color: white;
}

.inputForm .container {
  position: relative;
  top:1rem;
}

.inputForm h1 {
  color: white;
  font-size: 15px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.inputForm p {
  font-size: 15px;
  color: white;
}
