<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
    
  </head>

  <body>
    <div class="nav">
      <div class="container">
        <ul class = "pull-left">
          <li><a href="#">Home</a></li>
          <li><a href="help.html">Help</a></li>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>iCal Olin</h1>
        <p>Get organized. Faster.</p>
      </div>
    </div> 
    <div class="inputForm">
      <div class="container">
      <h1>Step 1. Enter your portal username and password and preferred email address.</h1>
      <h1>Step 2. Recieve your email, open iCal attachment of your schedule.</h1>
      <h1>Step 3. Profit.</h1>
      <form action="" method="post" name="loginForm">
        {{ form.hidden_tag() }}
        <p>
          Please enter your portal username:<br>
          {{ form.username(size=40) }}<br>
        </p>
        <p>
          Please enter your portal password:<br>
          {{ form.password(size=40) }}<br>
        </p>
        <p>
          Please enter your preferred email:<br>
          {{ form.email(size=40) }}<br>
        </p>
        <br><br>
        <p><input type="submit" value="Sign In"></p>
      </form>
      </div>
    </div>
  </body>
</html>