<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
    
  </head>

  <body>
    <div class="nav">
      <div class="container">
        <ul class = "pull-left">
          <li><a href="#">Home</a></li>
          <li><a href="help.html">Help</a></li>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>iCal Olin</h1>
        <p>Get organized. Faster.</p>
      </div>
    </div> 
  </body>
</html>