<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/materialize.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/materialize.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
  </head>


  <body>

    <div class="nav">
      <div class="container">
        <ul class = "pull-right">
          <li><a href="#">Home</a></li>
          <li><a href="/404">Help</a></li>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>iCal Olin</h1>
        <p>Get organized. Faster.</p>
      </div>
    </div> 
    <div class="inputForm">
      <div class="container">
      <p class = "instructions">Step 1. Enter your portal username, password and email address.</p>
      <p class = "instructions">Step 2. Receive your email, open iCal attachment of your schedule.</p>
      <p class = "instructions">Step 3. Profit.</p>
        <form action="" method="post" name="loginForm">
          {{ form.hidden_tag() }}
          <p class = "hint">
            Portal Username:<br>
            <div class = "input">
              {{ form.username(size=40) }}
            </div>
          </p>
          <p class = "hint">
            Portal Password:<br>
            <div class = "input">
              {{ form.password(size=40) }}
            </div>
          </p>
          <p class = "hint">
            Preferred Email:<br>
            <div class = "input">
              {{ form.email(size=40) }}
            </div>
          </p>
          <br>
          <button class="btn btn waves-effect waves-light indigo darken-1" type="submit" value="Sign In">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>